@model IEnumerable<FaceAttendance.Models.Lecturer>

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dashboard</h1>

<h1>Upcoming classes</h1>



<h1>Classes in the past</h1>
